.en__contacts {
  display: none;
}
#ecard-list {
  margin-top: 20px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(auto-fit, 93px);

    li {
      width: 93px;
      height: 93px;
      position: relative;
      cursor: pointer;
      border: 2px solid transparent;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        // z-index: -1;
        opacity: 0.5;
      }
      .recipient-name {
        position: absolute;
        bottom: 4px;
        left: 4px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        background-color: #fff;
        color: #000;
        z-index: 1;
        padding: 2px;
        max-width: calc(100% - 8px);
        overflow-wrap: break-word;
        hyphens: auto;
      }
      .checked-mark {
        width: 16px;
        height: 16px;
        position: absolute;
        border-radius: 50%;
        background-color: #007cf9;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 4px;
        left: 4px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover,
      &.active {
        border: 2px solid #007cf9;
        img {
          opacity: 1;
        }
      }
      &.active {
        .checked-mark {
          opacity: 1;
        }
      }
    }
  }
}

// [data-engrid-theme="flex2"] .page-backgroundImage:before {
//   background-position: 550px center;
//   transition: background-image 0.5s ease-in-out;
// }
.selected-recipients {
  font-weight: 700;
}

#dyanmic-recipient-headline {
  margin-bottom: 0px;
}

.form-column {
  margin-bottom: 0px;
}

.custom-styling .en__component--formblock {
  margin-top: 10px;
  margin-bottom: 10px;
}

button[disabled],
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:active {
  background-color: #007cf9;
  filter: grayscale(1);
  cursor: not-allowed;
}

.en__component--socialshareblock {
  display: none;
}
